<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Services</title>
    <link href="~/Content/admin-styles.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="~/Content/froala_editor.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/froala_style.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/themes/gray.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="left-menu">
        <div class="menu-wrapper">
            <nav>
                <a href="#">Документы</a>
            </nav>
        </div>
    </div>

    @RenderBody()

</body>
</html>
