    <div class="main-block">
        <div class="main-blcok-wrapper">

            <div class="header">
                <h1>Добавление документа</h1>
            </div>

            <form enctype="multipart/form-data" action="#" method="post">

                <h2 style="float: none;">Содержание</h2>

                <textarea id="edit" name="content" autofocus>
                </textarea>

                <input name="submit" type="submit" value="Submit" />

            </form>
        </div>
        <div class="footer">
            <h1>© Copyright 2015. All rights reserved by Demen_off</h1>
        </div>
    </div>


<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="~/Content/js/froala_editor.min.js"></script>
    <!--[if lt IE 9]>
    <script src="~/Content/js/froala_editor_ie8.min.js"></script>
    <![endif]-->
    <script src="~/Content/js/plugins/tables.min.js"></script>
    <script src="~/Content/js/plugins/lists.min.js"></script>
    <script src="~/Content/js/plugins/colors.min.js"></script>
    <script src="~/Content/js/plugins/media_manager.min.js"></script>
    <script src="~/Content/js/plugins/font_family.min.js"></script>
    <script src="~/Content/js/plugins/block_styles.min.js"></script>
    <script src="~/Content/js/plugins/video.min.js"></script>