<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Admin</title>
    <link href="~/Content/admin-styles.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel="stylesheet" type="text/css">
</head>
<body>
    <div class="admin-wrapper">
        <form class="admin-login" method="post">
            <span>Login :</span><input name="login" type="text" />
            <br>
            <span>Password :</span><input name="password" type="password" />
            <br>
            <input class="button" type="submit" value="Login">
        </form>
    </div>
</body>
</html>