
<div class="main-block">
    <div class="main-blcok-wrapper">
        <div class="header">
            <h1>Шаблоны</h1>
        </div>
        <div class="middle">
            <a href="#" class="add-new-entry"></a>
            <table style="width: 100%; margin-bottom:20px;">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Image Url</th>
                        <th>Date</th>
                        <th>Catigories</th>
                        <th>Content</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Name</td>
                        <td>Image Url</td>
                        <td>Date</td>
                        <td>Catigories</td>
                        <td>Content</td>
                        <td class="action-buttons">
                            <a class="edit-button" href="#"></a>
                            <a class="remove-button" href="#"></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="footer">
            <h1>© Copyright 2015. All rights reserved by Demen_off</h1>
        </div>
    </div>
</div>