@model DocumentFlow.Models.ForgotPasswordViewModel
@{
    Layout = null;
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h4>Введите адрес электронной почты.</h4>
    @Html.ValidationSummary()
    @Html.TextBoxFor(m => m.Email)
    <input type="submit" value="Отправка ссылки по электронной почте" />
}




